* {
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-family: oswald;
  box-sizing: border-box;
}

/* ===============NAVBAR========== */

nav {
  background-color: rgba(0, 0, 0, 0.835);
  color: rgb(255, 255, 255);
  overflow: hidden;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
  justify-content: center;
  margin-right: 30px;
}
a {
  text-decoration: none;
}

a:visited {
  color: rgb(235, 235, 235);
}

a:hover,
a:active {
  color: #ffffff;
}

/* ==================HOME================ */

.landing {
  position: relative;
  display: inline-block;
}

.background_landing {
  width: 100%;
  height: auto;
}

.overlay_landing {
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
  z-index: 1;
}

figcaption {
  background-color: #cfa861;
  padding: 20px;
}

figcaption p {
  margin: 0;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: justify;
  margin: 20px;
}

/* ===================TRADITION================== */

#TRADITION {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 1000px;
}

.coindroit,
.coingauche {
  position: relative;
  width: 100%;
}

.coindroit_background,
.coingauche_background,
.coindroit_overlay,
.coingauche_overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coindroit_overlay,
.coingauche_overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;

  .coindroit {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .coingauche {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .coindroit_background {
    /* Ajoutez des styles spécifiques au background de coindroit si nécessaire */
  }

  .coindroit_overlay {
    /* Ajoutez des styles spécifiques à l'overlay de coindroit si nécessaire */
  }

  .coingauche_background {
    /* Ajoutez des styles spécifiques au background de coingauche si nécessaire */
  }

  .coingauche_overlay {
    /* Ajoutez des styles spécifiques à l'overlay de coingauche si nécessaire */
  }
}

.beertradition,
.pubstory {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.trad_title {
  font-size: 220%;
}

.trad_subtitle {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 80%;
}

.trad_subtext {
  font-family: raleway;
  font-size: 80%;
  line-height: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

.mon-bouton {
  display: inline-block;
  padding: 9px 40px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10%;
  border-radius: 5px;
  background-color: #cfa861;
  color: #ffffff;
  transition: 0.5s ease;
}

.mon-bouton:hover,
.mon-bouton:active {
  background-color: rgb(234, 195, 122);
}

/*============================GALLERY====================*/

.gallery {
  display: flex;
  width: 200%;
}

.gallery_img {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(234, 195, 122);
}

.container:hover .overlay {
  opacity: 0.8;
}

.container:hover .image {
  transform: scale(1.1);
}

.container:hover .plus {
  transform: rotate(180deg);
}

.plus {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 200px;
  transition: 0.5s ease-out;
  transform: rotate(0deg);
  text-align: center;
}
